@{
	Layout="Shared/_Layout.cshtml";
}
<form action="/bands/new" method="post">
	<div class="form-group">
		<input class="form-control" type="text" name="band-name" placeholder="Enter a band">
		<button class="btn btn-default" type="submit">Submit</button>
	</div>
</form>
<div><a href="/bands">View all bands</a></div>
<div><a href="/">Home</a></div>
