@{
	Layout="Shared/_Layout.cshtml";
}
<form action="/venues/new" method="post">
	<div class="form-group">
		<input class="form-control" type="text" name="venue-name" placeholder="Enter a venue">
		<button class="btn btn-default" type="submit">Submit</button>
	</div>
</form>
<div><a href="/venues">View all venues</a></div>
<div><a href="/">Home</a></div>
