body {
  background-color: #f5f5f5;
}

#header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  height: 60px;
}

#header h1 {
  height: inherit;
  line-height: 60px;
  padding: 0;
  margin: 0;
}

#test {
  background-color: blue;
}

h3 {
  margin-top: 10px;
}

div {
  margin-bottom: 10px;
}

input {
  margin-bottom: 15px;
}

ul {
  padding-left: 0px;
  list-style: none;
  margin-bottom: 15px;
}

li {
  border: 1px solid #dadada;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.delete {
  background-color: #d74f4a;
  color: #fff;
  border: none;
}

.delete a {
  color: #fff;
  text-decoration: none;
}

.add {
  background-color:  #3fa9f5;
  color: #fff;
  border: none;
}

.form-control {
  margin-bottom: 15px;
}
